require "formula"
require "language/go"
require 'erb'


class Pachctl < Formula
  homepage "github.com/pachyderm/pachyderm"
  version "v1.3.16"

  if Hardware::CPU.intel?
    url "AMDURLPH"
    sha256 "AMDSHAPH"

    def install
      bin.install buildpath/"pachctl"
    end
  end
  if Hardware::CPU.arm?
    url "ARMURLPH"
    sha256 "ARMSHAPH"

    def install
      bin.install buildpath/"pachctl"
    end
  end



  test do
    system "#{bin}/pachctl version"
  end

end
